{% extends 'layout.html' %}

{% block page_title %}
    Scrapd Search
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Search Scrapd Results</h4>
                    <p class="card-category">Analyze your most important headlines by entering one or more search criteria.</p>
                </div>
                <div class="card-body">
                    <form method="get" action="{% url 'results' %}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Stock Symbols (comma-separated)</label>
                                    <input type="text" name="symbols" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Start Date</label>
                                    <input type="text" name="start_date" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">End Date</label>
                                    <input type="text" name="end_date" class="form-control">
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary pull-right">Search</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category">Nasdaq Options Trading Center</h6>
                    <h4 class="card-title">Sync Latest Headlines</h4>
                    <p class="card-description">
                        Get the latest news on notable and noteworthy options trading.
                    </p>
                    <a href="#acquire" id="btn_acquire" class="btn btn-danger btn-info btn-lg">Acquire</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
          $().ready(function() {
            $("body").on("click", "#btn_acquire", function(e) {

                $this = $(this);
                $this.toggleClass("#btn_acquire")
                if($this.hasClass("#btn_acquire")){
                    $this.text("Acquiring...")
                    $this.css("background-color","grey")
                    $this.prop("disabled",true);
                }

                e.preventDefault();
                $.ajax({
                    type: "GET",
                    url: "acquire/",
                    data: {
                    },
                    success: function(result) {
                        debugger
                        if(result.success) {
                            alert(result.message||'Success');
                            $this.text("Acquired")
                            
                        } else {
                            alert(result.error||'An error occurred. Please try again.');
                            button_reset();
                        }
                    },
                    error: function(result) {
                        alert('error');
                        button_reset();
                    }
                });
            });
          })
        })

        // function button_switch(btn){
        //     document.getElementById(btn.id).innerText="Acquiring...";
        //     document.getElementById(btn.id).disabled = true;
        //     // document.getElementById("btn_acquire").setAttribute("disabled","disabled")
        // }
        
        function button_reset(){
            document.getElementById("btn_acquire").innerText="Acquire";
            document.getElementById("btn_acquire").style.backgroundColor = '#F00';
            document.getElementById("btn_acquire").disabled=false;
        }
    </script>

{% endblock %}