
{% extends 'layout.html' %}

{% block page_title %}
    Search
{% endblock %}

{% block content %}



    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Search Scrape Results</h4>
                    <p class="card-category">Analyze your most important scrape results by entering one or more search criteria.</p>
                </div>
                <div class="card-body">
                    <form method="get" action="{% url 'results' %}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Symbols (comma-separated)</label>
                                    <input type="text" name="symbols" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="position: absolute;z-index:1000;">

                                    <label class="bmd-label-floating">Start Date</label>
                                    <input id="from" type="text" name ="start_date" class="form-control">

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" style="position: absolute;z-index:1000;">
                                    <label class="bmd-label-floating">End Date</label>
                                    <input id="to" type="text" name="end_date" class="form-control" >

                                </div>
                            </div>
                        </div>

                        <script>
                                var $j = jQuery.noConflict();
                                 $j( "#to" ).datepicker(
                                     {dateFormat: "yy-mm-dd"}
                                 ).attr('readonly', 'true');

                                 var $k = jQuery.noConflict();
                                 $k( "#from" ).datepicker(
                                     {dateFormat: "yy-mm-dd"}
                                 ).attr('readonly', 'true');

                                 let to = document.getElementById("to");
                                to.style.background='rgba(255, 255, 255, 0)';
                                to.style.background='rgba(255, 255, 255, 0)';

                                let from = document.getElementById("from");
                                from.style.background='rgba(255, 255, 255, 0)';
                                from.style.background='rgba(255, 255, 255, 0)';
                        </script>

                        <button type="submit" type="date" class="btn btn-primary pull-right">Search</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category">Action Center</h6>
                    <h4 class="card-title">Sync Latest Headlines</h4>
                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love
                        you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                    <a href="#acquire" id="btn_acquire" class="btn btn-sm btn-info btn-round" onclick="button_switch()">Acquire</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
          $().ready(function() {
            $("body").on("click", "#btn_acquire", function(e) {
                e.preventDefault();
                $.ajax({
                    type: "GET",
                    url: "acquire/",
                    data: {
                    },
                    success: function(result) {
                        debugger
                        if(result.success) {
                            alert(result.message||'Success');
                            button_reset();
                        } else {
                            alert(result.error||'An error occurred. Please try again.');
                            button_reset();
                        }
                    },
                    error: function(result) {
                        alert('error');
                        button_reset();
                    }
                });
            });
          })
        })

        function button_switch(){
            document.getElementById("btn_acquire").innerText="Acquiring...";
        }

        function button_reset(){
            document.getElementById("btn_acquire").innerText="Acquire";
        }
    </script>

{% endblock %}